In [1]:
import pandas as pd
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv(r"C:\Users\Nicole Macauley\Desktop\Projects In Progress\world food production.csv")
data

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [7]:
# Lets look at the names of columns we have
data.columns

Index(['Entity', 'Year', 'Maize Production (tonnes)',
       'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )', 'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)', 'Sugar cane Production (tonnes)',
       'Soybeans  Production (tonnes)', 'Rye  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Grapes  Production (tonnes)', 'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)', 'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)'],
      dtype='object')

In [11]:
# Lets check the Unique values present in the Data
data.nunique()

Entity                                  226
Year                                     61
Maize Production (tonnes)              9789
Rice  Production ( tonnes)             9652
Yams  Production (tonnes)              7285
Wheat Production (tonnes)              9946
Tomatoes Production (tonnes)           9393
Tea  Production ( tonnes )             4744
Sweet potatoes  Production (tonnes)    8445
Sunflower seed  Production (tonnes)    7739
Sugar cane Production (tonnes)         8783
Soybeans  Production (tonnes)          8089
Rye  Production (tonnes)               7436
Potatoes  Production (tonnes)          9921
Oranges  Production (tonnes)           8651
Peas, dry Production ( tonnes)         8336
Palm oil  Production (tonnes)          5899
Grapes  Production (tonnes)            8926
Coffee, green Production ( tonnes)     7882
Cocoa beans Production (tonnes)        6898
Meat, chicken  Production (tonnes)     8850
Bananas  Production ( tonnes)          8352
Avocados Production (tonnes)           7274
Apples Production (tonnes)             8988
dtype: int64



Exploratory Data Analysis(EDA)

In [62]:
# We display a sample of our data to view it.
data.sample(20)

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
6559,Maldives,2007,8.200000e+01,1.007950e+07,155761.200,146720.0,6739.00,660106.8,5.468914e+05,4.136206e+05,...,201085.00,3300.000,4.127600e+04,3535759.0,200.00,5132.600,8960.00,5.345730e+05,112080.000,4.300000e+04
5700,Kyrgyzstan,1997,1.705650e+05,2.710910e+05,4733.200,422831.0,310050.00,608.0,3.800000e+04,2.799000e+03,...,786000.00,3968.570,2.234000e+05,1176090.0,3891551.00,48405.452,687634.00,1.197510e+06,144500.000,5.547420e+05
10394,Switzerland,2010,1.435020e+05,5.985137e+04,33424.178,19147206.0,231724.00,107806.2,7.718320e+04,1.603423e+05,...,3556337.20,1611879.900,6.771710e+05,119746.2,266935.00,2653.360,18067.91,5.042761e+04,170701.000,7.943706e+05
4982,Hungary,2003,4.532147e+06,1.240894e+08,406000.000,2986689.2,4826396.00,43812.6,2.026000e+03,1.510000e+04,...,80000.00,440213.720,4.461915e+06,260.0,124415.00,1443.000,1110.00,1.200000e+05,187781.000,7.160450e+05
4811,Haiti,2015,2.645901e+05,2.334700e+06,3501.000,200.0,1163.00,100711.0,3.100000e+01,1.761730e+05,...,954874.94,1498213.000,1.128578e+05,56456.0,76080.00,300.000,28275.00,0.000000e+00,287.000,4.835180e+05
7645,Nicaragua,2005,5.555950e+05,1.220000e+03,125802.970,24189528.0,190417.00,949.0,0.000000e+00,1.706402e+05,...,4500774.00,37615.200,2.960000e+03,1577952.6,513558.70,28473.800,5800.00,1.550000e+03,53626.600,2.738589e+04
4155,Gabon,2016,4.427211e+04,1.103000e+04,57875.960,75247.0,368778.60,426415.8,4.879580e+05,6.450000e+04,...,25000.00,1330.000,1.328427e+06,2791765.0,1378.00,3138.000,3624089.00,3.375851e+06,4189.000,4.796130e+05
3202,Eastern Africa (FAO),1988,1.437151e+07,1.727900e+04,1281513.900,238986960.0,84886.00,3659.6,3.754450e+03,1.725303e+07,...,2110.00,444.000,2.500000e+04,48710.0,44500.00,31.370,159900.00,5.500000e+03,60250.000,2.182000e+06
4735,Guyana,2000,3.829000e+03,4.884081e+06,24994.000,28015.0,188415.00,1242514.6,4.500000e+04,8.802880e+05,...,22709.44,36800.000,3.630000e+04,64770.0,11547.00,0.000,430000.00,5.756640e+06,4000.000,3.952975e+06
9877,South-eastern Asia (FAO),1985,1.422485e+07,6.868840e+04,1622198.460,144086994.6,35067.00,2108.2,2.320269e+04,6.484585e+06,...,4069754.80,4190.400,2.796000e+04,47799.6,57139.20,97811.728,587067.00,6.640000e+02,76996.800,1.502420e+06
8775,Puerto Rico,1996,7.500000e+02,2.379000e+04,48000.000,821.0,90.00,3291.0,1.334500e+04,5.324000e+04,...,37567068.00,2270060.000,1.860198e+05,76020.4,23675.40,443708.200,10472.00,1.300000e+06,378500.662,4.335732e+05
11612,Western Europe (FAO),1997,2.188241e+07,5.027300e+04,5485.040,3902642.4,23500.00,184165.2,2.550000e+02,7.244200e+03,...,312.40,6583.800,1.063600e+03,778534.1,480499.80,568124.780,213409.00,5.465780e+02,229880.194,3.550000e+05
10855,Turkey,2014,5.950000e+06,7.274421e+07,502488.800,11190504.4,1325000.00,653585.6,3.424639e+07,5.213309e+06,...,17075375.60,261713.208,9.620000e+04,8982229.4,451040.65,113046.400,65000.00,1.488265e+07,9224.000,1.792735e+07
305,Americas (FAO),1961,1.163129e+08,1.057110e+07,89000.000,50778624.0,1000.00,1296.0,3.882000e+05,7.029020e+05,...,8768532.00,22.000,6.076583e+07,6735895.0,200714.00,8229.000,3293780.00,1.500000e+02,44160.000,3.651441e+06
974,Barbados,1965,5.600000e+02,4.050790e+04,200000.000,5000.0,447815.00,639742.0,7.328000e+03,1.500000e+04,...,168109.28,35189.000,1.370000e+04,550892.0,970698.00,877.000,8262.00,3.076000e+03,140000.000,1.996200e+04
9862,South-eastern Asia (FAO),1970,7.275150e+06,1.426469e+06,775268.000,48644927.2,26667.00,33741.2,1.544608e+06,2.652098e+06,...,1230511.40,276116.030,3.957300e+03,12857.8,46150.20,30.272,188199.00,1.023000e+03,97675.858,3.720000e+04
6224,Low-income countries,1999,1.330206e+07,1.039410e+05,3326818.600,12991135.0,18000.00,564398.8,9.145811e+05,1.298660e+05,...,8118000.00,3579.000,4.512020e+05,30000.0,6806.00,534149.800,29300.00,7.507300e+04,408476.200,3.596000e+05
1248,Bhutan,1965,5.400000e+04,4.780000e+04,5731719.000,4497045.0,261.09,18678.0,2.020000e+04,7.440000e+03,...,31000.00,3739.650,0.000000e+00,719667.0,140.59,7576.000,19187.00,8.600000e+04,16300.000,5.545930e+05
4066,French Guiana,1963,7.000000e+01,0.000000e+00,11930.000,243700.0,30220.00,387556.4,4.540975e+04,5.001900e+04,...,490937.00,20000.000,2.137145e+07,341902.0,1000.00,3200.000,10946884.00,3.374100e+06,42579.410,2.900000e+02
3050,Dominica,2019,1.921500e+02,3.350531e+06,1900.000,21459200.0,5007528.00,81516.2,9.531300e+04,7.961540e+05,...,5816199.00,811810.000,6.600000e+05,8326688.0,401048.00,36317.000,129100.00,4.093193e+05,3295.470,6.880000e+04

In [25]:
# Observing the names of columns we have.
data['Entity'].unique()

array(['Afghanistan', 'Africa', 'Africa (FAO)', 'Albania', 'Algeria',
       'Americas (FAO)', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Asia', 'Asia (FAO)', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belgium-Luxembourg (FAO)', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Caribbean (FAO)',
       'Central African Republic', 'Central America (FAO)',
       'Central Asia (FAO)', 'Chad', 'Chile', 'China', 'China (FAO)',
       'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Czechia', 'Czechoslovakia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Eastern Africa (FAO)',
       'Eastern Asia (FAO)', 'Eastern Europe (FAO)', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Ethiopia (former)', 'Europe', 'Europe (FAO)',
       'European Union (27)', 'European Union (27) (FAO)', 'Fiji',
       'Finland', 'France', 'French Guiana', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hungary', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', 'Land Locked Developing Countries (FAO)', 'Laos',
       'Latvia', 'Least Developed Countries (FAO)', 'Lebanon', 'Lesotho',
       'Libya', 'Lithuania', 'Low Income Food Deficit Countries (FAO)',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Melanesia', 'Mexico',
       'Micronesia (FAO)', 'Micronesia (country)', 'Middle Africa (FAO)',
       'Moldova', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal',
       'Net Food Importing Developing Countries (FAO)', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Africa (FAO)', 'Northern America (FAO)',
       'Northern Europe (FAO)', 'Oceania', 'Oceania (FAO)', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Serbia and Montenegro',
       'Sierra Leone', 'Slovakia', 'Slovenia',
       'Small Island Developing States (FAO)', 'Somalia', 'South Africa',
       'South America', 'South America (FAO)', 'South Korea',
       'South Sudan', 'South-eastern Asia (FAO)', 'Southern Africa (FAO)',
       'Southern Asia (FAO)', 'Southern Europe (FAO)', 'Spain',
       'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Trinidad and Tobago', 'Turkey',
       'Turkmenistan', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Western Africa (FAO)',
       'Western Asia (FAO)', 'Western Europe (FAO)', 'World', 'Yemen',
       'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

Data Structure

In [28]:
# Let take a look at you data structure
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11912 entries, 0 to 11911
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               11912 non-null  object
 1   Year                                 11912 non-null  int64
 2   Maize Production (tonnes)            11912 non-null  float64
 3   Rice  Production ( tonnes)           11912 non-null  float64
 4   Yams  Production (tonnes)            11912 non-null  float64
 5   Wheat Production (tonnes)            11912 non-null  float64
 6   Tomatoes Production (tonnes)         11912 non-null  float64
 7   Tea  Production ( tonnes )           11912 non-null  float64
 8   Sweet potatoes  Production (tonnes)  11912 non-null  float64
 9   Sunflower seed  Production (tonnes)  11912 non-null  float64
 10  Sugar cane Production (tonnes)       11912 non-null  float64
 11  Soybeans  Production (tonnes)        11912 non-null  float64
 12  Rye  Production (tonnes)             11912 non-null  float64
 13  Potatoes  Production (tonnes)        11912 non-null  float64
 14  Oranges  Production (tonnes)         11912 non-null  float64
 15  Peas, dry Production ( tonnes)       11912 non-null  float64
 16  Palm oil  Production (tonnes)        11912 non-null  float64
 17  Grapes  Production (tonnes)          11912 non-null  float64
 18  Coffee, green Production ( tonnes)   11912 non-null  float64
 19  Cocoa beans Production (tonnes)      11912 non-null  float64
 20  Meat, chicken  Production (tonnes)   11912 non-null  float64
 21  Bananas  Production ( tonnes)        11912 non-null  float64
 22  Avocados Production (tonnes)         11912 non-null  float64
 23  Apples Production (tonnes)           11912 non-null  float64
dtypes: float64(22), int64(1), object(1)
memory usage: 2.2+ MB

In [ ]:
# Observations:
In our dataset, there are 22 columns with object Datatype,
1 column which is int Datatype,
1 column which is an object Datatype

Data Shape

In [32]:
# Lets check our data shape.
data.shape

(11912, 24)

In [ ]:
# Number of rows in the data: 11912
# Number of columns in the data: 24

In [140]:
data.columns

Index(['Country', 'Year', 'Maize Production (tonnes)',
       'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )', 'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)', 'Sugar cane Production (tonnes)',
       'Soybeans  Production (tonnes)', 'Rye  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Grapes  Production (tonnes)', 'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)', 'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)'],
      dtype='object')


Renaming Columns

In [158]:
data.rename(columns = {"Entity": "Country", "Maize Production (tonnes)": "Maize (tonnes)", 
                        "Rice  Production ( tonnes)": "Rice (tonnes)", "'Yams  Production (tonnes)": "Yams (tonnes)",
                        "Wheat Production (tonnes)": "Wheat (tonnes)", "Tomatoes Production (tonnes)": "Tomatoes (tonnes)",
                        "Tea  Production ( tonnes )" : "Tea (tonnes)", "Sweet potatoes  Production (tonnes)": "Sweet potatoes (tonnes)", 
                        "Sunflower seed  Production (tonnes)": "Sunflower_seed (tonnes)", "Sugar cane Production (tonnes)": "Sugar_cane (tonnes)", 
                        "Soybeans  Production (tonnes)": "Soybeans (tonnes)", "Rye  Production (tonnes)": "Rye (tonnes)", 
                        "Potatoes  Production (tonnes)": "Potatoes (tonnes)", "Oranges  Production (tonnes)": "Oranges (tonnes)",
                        "Peas, dry Production ( tonnes)": "Peas (tonnes)",  "Palm oil  Production (tonnes)": "Palm_oil (tonnes)",
                        "Grapes  Production (tonnes)": "Grapes (tonnes)", "Coffee, green Production ( tonnes)": "Coffee (tonnes)", 
                        "Cocoa beans Production (tonnes)": "Cocoa_beans (tonnes)", "Meat, chicken  Production (tonnes)": "Meat (tonnes)",
                        "Bananas  Production ( tonnes)" : "Bananas (tonnes)", "Avocados Production (tonnes)" : "Avocados (tonnes)",
                        "Apples Production (tonnes)" : "Apples (tonnes)"}, inplace = True)

,Country,Year,Maize (tons),Rice (tonnes),Yams (tons),Wheat (tons),Tomatoes (tons),Tea (tonnes),Sweet potatoes (tons),Sunflower seed (tons),...,Oranges (tons),Peas (tonnes),Palm oil (tons),Grapes (tons),Coffee (tonnes),Cocoa beans (tons),"Meat, chicken (tons)",Bananas (tonnes),Avocados (tons),Apples (tons)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [202]:
# Have to use this approach to rename the column again

data.columns = [col.replace('( tonnes )', '(tons)') for col in data.columns]
data.columns = [col.replace(' Production ( tonnes)', '') for col in data.columns]
data.columns = [col.replace('Tea  Production (tons)', 'Tea (tons)') for col in data.columns]
data.columns = [col.replace('Meat, chicken  (tons)', 'Meat (tons)') for col in data.columns]
data.columns = [col.replace('Bananas (tons)(tons', 'Bananas (tons)') for col in data.columns]
data.columns = [col.replace('Coffee, green', 'Coffee(tons)') for col in data.columns]
data.columns = [col.replace('Peas, dry', 'Peas (tons)') for col in data.columns]
data.columns = [col.replace('Sunflower seed  (tons)', 'Sunflower seed (tons)') for col in data.columns]
data.columns = [col.replace('Soybeans  (tons)', 'Soybeans (tons)') for col in data.columns]
data.columns = [col.replace('Rye  (tons)', 'Rye (tons)') for col in data.columns]
data.columns = [col.replace('Potatoes  (tons)', 'Potatoes (tons)') for col in data.columns]
data.columns = [col.replace('Oranges  (tons)', 'Oranges (tons)') for col in data.columns]
data.columns = [col.replace('Palm oil  (tons)', 'Palm oil (tons)') for col in data.columns]
data.columns = [col.replace('Grapes  (tons)', 'Grapes (tons)') for col in data.columns]
data.columns = [col.replace('Coffee(tons)', 'Coffee (tons)') for col in data.columns]
data.columns = [col.replace('Rice (tons)(tons)', 'Rice (tons)') for col in data.columns]
data.columns = [col.replace('Yams  (tons)', 'Yams (tons)') for col in data.columns]
data.columns = [col.replace('Sweet potatoes  (tons)', 'Sweet potatoes (tons)') for col in data.columns]

In [204]:
data.columns

Index(['Country', 'Year', 'Maize (tons)', 'Rice (tons)', 'Yams (tons)',
       'Wheat (tons)', 'Tomatoes (tons)', 'Tea (tons)',
       'Sweet potatoes (tons)', 'Sunflower seed (tons)', 'Sugar cane (tons)',
       'Soybeans (tons)', 'Rye (tons)', 'Potatoes (tons)', 'Oranges (tons)',
       'Peas (tons)', 'Palm oil (tons)', 'Grapes (tons)', 'Coffee (tons)',
       'Cocoa beans (tons)', 'Meat (tons)', 'Bananas (tons)) ',
       'Avocados (tons)', 'Apples (tons)'],
      dtype='object')

Missing and Null Values

In [208]:
data.isnull().sum().sort_values(ascending=False)

Country                  0
Year                     0
Avocados (tons)          0
Bananas (tons))          0
Meat (tons)              0
Cocoa beans (tons)       0
Coffee (tons)            0
Grapes (tons)            0
Palm oil (tons)          0
Peas (tons)              0
Oranges (tons)           0
Potatoes (tons)          0
Rye (tons)               0
Soybeans (tons)          0
Sugar cane (tons)        0
Sunflower seed (tons)    0
Sweet potatoes (tons)    0
Tea (tons)               0
Tomatoes (tons)          0
Wheat (tons)             0
Yams (tons)              0
Rice (tons)              0
Maize (tons)             0
Apples (tons)            0
dtype: int64

In [ ]:
# Inference
# There is no missing values in the Dataset

A Summary Indicating The Distribution Of Key Agricultural Variables.

In [210]:
data.describe()

,Year,Maize (tons),Rice (tons),Yams (tons),Wheat (tons),Tomatoes (tons),Tea (tons),Sweet potatoes (tons),Sunflower seed (tons),Sugar cane (tons),...,Oranges (tons),Peas (tons),Palm oil (tons),Grapes (tons),Coffee (tons),Cocoa beans (tons),Meat (tons),Bananas (tons)),Avocados (tons),Apples (tons)
count,11912.000000,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,...,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04
mean,1992.115346,1.926434e+07,2.254542e+07,2.744973e+06,2.365684e+07,3.238661e+06,1.350523e+05,5.021303e+06,1.410297e+06,5.218411e+07,...,2.176532e+06,6.375701e+05,1.502615e+06,3.623623e+06,3.549990e+05,2.191661e+05,1.165719e+06,2.653282e+06,1.564768e+05,3.260419e+06
std,17.606091,7.028022e+07,7.749779e+07,8.787786e+06,6.177899e+07,1.146992e+07,2.544264e+05,2.001692e+07,3.625725e+06,1.527085e+08,...,6.078086e+06,1.527103e+06,6.144476e+06,8.225799e+06,8.785398e+05,5.835509e+05,4.050976e+06,8.178866e+06,4.239785e+05,8.748227e+06
min,1961.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1977.000000,2.379300e+04,3.902475e+04,1.176250e+04,8.892500e+04,1.250000e+04,2.040000e+03,7.082605e+03,1.537675e+04,3.312100e+05,...,1.182728e+04,5.196345e+03,1.384195e+04,6.757700e+04,3.119250e+03,1.092024e+03,3.882640e+03,1.007145e+04,3.681500e+03,4.431650e+04
50%,1993.000000,4.000490e+05,4.543745e+05,1.236055e+05,1.650000e+06,1.291410e+05,2.564550e+04,7.828400e+04,1.481504e+05,3.275770e+06,...,1.469060e+05,4.755700e+04,7.887600e+04,4.680664e+05,3.229550e+04,9.160000e+03,3.659000e+04,1.508370e+05,3.577800e+04,4.222070e+05
75%,2007.000000,4.979875e+06,4.440542e+06,5.721030e+05,1.524149e+07,8.691358e+05,1.192675e+05,7.472216e+05,1.115602e+06,2.507227e+07,...,1.434050e+06,4.269712e+05,4.145059e+05,3.080176e+06,2.126140e+05,1.250475e+05,3.547400e+05,1.187962e+06,1.160314e+05,1.950000e+06
max,2021.000000,1.210235e+09,7.872939e+08,7.871405e+07,7.723055e+08,1.891340e+08,2.524670e+06,1.528620e+08,5.818563e+07,1.958234e+09,...,7.656665e+07,1.663746e+07,7.906779e+07,8.001590e+07,1.079544e+07,5.780850e+06,5.017566e+07,1.249786e+08,8.685672e+06,9.314436e+07

Looking Out For Duplicate Values

In [212]:
data.duplicated().sum()

0

In [ ]:
# We have zero duplicated values in our data

Dropping NA Values

In [214]:
data.dropna()

,Country,Year,Maize (tons),Rice (tons),Yams (tons),Wheat (tons),Tomatoes (tons),Tea (tons),Sweet potatoes (tons),Sunflower seed (tons),...,Oranges (tons),Peas (tons),Palm oil (tons),Grapes (tons),Coffee (tons),Cocoa beans (tons),Meat (tons),Bananas (tons)),Avocados (tons),Apples (tons)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [216]:
data.reset_index(drop=True)

,Country,Year,Maize (tons),Rice (tons),Yams (tons),Wheat (tons),Tomatoes (tons),Tea (tons),Sweet potatoes (tons),Sunflower seed (tons),...,Oranges (tons),Peas (tons),Palm oil (tons),Grapes (tons),Coffee (tons),Cocoa beans (tons),Meat (tons),Bananas (tons)),Avocados (tons),Apples (tons)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [218]:
data.to_csv('world food production.csv', index=False)